@font-face {
  font-family: "myFont";
  src: url("fonts/Norse.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-myfont: "myFont", sans-serif;
}